/**
 * Custom variables.
 */

// Colors
$primary:             #003399 !default;

// Features
$enable-responsive-font-sizes: true;

// Paragraphs
$paragraph-margin-bottom: .4rem !default;

// Tables
$table-cell-padding:  .4rem !default;
