// Variables
@import 'variables';

// Bootstrap
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/root';
@import '../../node_modules/bootstrap/scss/reboot';
@import '../../node_modules/bootstrap/scss/type';
@import '../../node_modules/bootstrap/scss/images';
//@import '../../node_modules/bootstrap/scss/code';
@import '../../node_modules/bootstrap/scss/grid';
@import '../../node_modules/bootstrap/scss/tables';
@import '../../node_modules/bootstrap/scss/forms';
@import '../../node_modules/bootstrap/scss/buttons';
@import '../../node_modules/bootstrap/scss/transitions';
@import '../../node_modules/bootstrap/scss/dropdown';
@import '../../node_modules/bootstrap/scss/button-group';
@import '../../node_modules/bootstrap/scss/input-group';
@import '../../node_modules/bootstrap/scss/custom-forms';
@import '../../node_modules/bootstrap/scss/nav';
@import '../../node_modules/bootstrap/scss/navbar';
@import '../../node_modules/bootstrap/scss/card';
@import '../../node_modules/bootstrap/scss/breadcrumb';
@import '../../node_modules/bootstrap/scss/pagination';
@import '../../node_modules/bootstrap/scss/badge';
//@import '../../node_modules/bootstrap/scss/jumbotron';
@import '../../node_modules/bootstrap/scss/alert';
//@import '../../node_modules/bootstrap/scss/progress';
@import '../../node_modules/bootstrap/scss/media';
@import '../../node_modules/bootstrap/scss/list-group';
//@import '../../node_modules/bootstrap/scss/close';
//@import '../../node_modules/bootstrap/scss/toasts';
//@import '../../node_modules/bootstrap/scss/modal';
//@import '../../node_modules/bootstrap/scss/tooltip';
//@import '../../node_modules/bootstrap/scss/popover';
//@import '../../node_modules/bootstrap/scss/carousel';
@import '../../node_modules/bootstrap/scss/spinners';
@import '../../node_modules/bootstrap/scss/utilities';
@import '../../node_modules/bootstrap/scss/print';

/*
 * Two columns for dropdown list with the countries.
 */
@media(min-width: map-get($grid-breakpoints, 'sm')) {
  .countries-dropdown {
    column-count: 2;
  }
}

/*
 * Equal width for coin details tables.
 */
.coin-details-table tr:nth-child(n){
  width: 25%;
}

.coin-details-table tr:first-child {
  width: 10%;
}

.coin-details-table tr:last-child {
  width: 15%;
}

/*
 * Sizes for coin images.
 */
.coin-1 {
  height: 16.25mm;
}

.coin-2 {
  height: 18.75mm;
}

.coin-5 {
  height: 21.25mm;
}

.coin-10 {
  height: 19.75mm;
}

.coin-20 {
  height: 22.25mm;
}

.coin-50 {
  height: 24.25mm;
}

.coin-100 {
  height: 23.25mm;
}

.coin-200 {
  height: 25.75mm;
}

@media(min-width: map-get($grid-breakpoints, 'sm')) {
  .commemorative-coin .coin-200 {
    height: 51.5mm;
  }
}

[data-toggle="collapse"] {
  &.collapsed .not-collapsed {
    display: none;
  }
  &:not(.collapsed) .collapsed {
    display: none;
  }
}
